app:
  security:
    jwt:
      secret: ${JWT_SECRET:rVPUleHOXnkiD/3Zcs6hTFWgnnzJAd0HNe7sk+JoDVk=}
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/task_manager_db
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080
